* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "Poppins";
}

.grid-container {
    display: grid;
    background-color: rgb(169, 184, 125);
    gap: 8px;
    color: rgb(195, 89, 27);
    justify-content: center;
    overflow: hidden;
    
}
.grid-child {
    font-size: 20px;
}